
<header class="navbar-header">
  <div class="brand">
    <a class="navbar-brand" href="../../index.html" title="AlphaAdmin">ALPHA</a>
  </div>
  <div class="navbar">
    <i class="sidebar-toggle iconfont icon-menu" data-toggle="push-menu" role="button">
    </i>
    <div class="navbar-menu pull-right">
      <ul class="nav navbar-nav">
        <li class="dropdown message">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="消息">
            <i class="iconfont icon-email"></i>
            <span class="badge">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">
              您有4条消息
            </li>
            <li class="body">
              <ul class="menu">
                <li>
                  <a href="#" title="如何设置头部head...">
                    <div class="pull-left">
                      <img class="img-circle" src="../../assets/avatars/avatars.png">
                    </div>
                    <h4 class="name">
                      匿名用户
                      <small class="pull-right">
                        <i class="iconfont icon-time"></i>
                        5分钟前
                      </small>
                    </h4>
                    <p class="content">
                      如何设置头部head的meta值
                    </p>
                  </a>
                </li>
                <li>
                  <a href="#" title="如何设置头部head...">
                    <div class="pull-left">
                      <img class="img-circle" src="../../assets/avatars/avatars.png">
                    </div>
                    <h4 class="name">
                      匿名用户
                      <small class="pull-right">
                        <i class="iconfont icon-time"></i>
                        5分钟前
                      </small>
                    </h4>
                    <p class="content">
                      如何设置头部head的meta值
                    </p>
                  </a>
                </li>
                <li>
                  <a href="#" title="如何设置头部head...">
                    <div class="pull-left">
                      <img class="img-circle" src="../../assets/avatars/avatars.png">
                    </div>
                    <h4 class="name">
                      匿名用户
                      <small class="pull-right">
                        <i class="iconfont icon-time"></i>
                        5分钟前
                      </small>
                    </h4>
                    <p class="content">
                      如何设置头部head的meta值
                    </p>
                  </a>
                </li>
                <li>
                  <a href="#" title="如何设置头部head...">
                    <div class="pull-left">
                      <img class="img-circle" src="../../assets/avatars/avatars.png">
                    </div>
                    <h4 class="name">
                      匿名用户
                      <small class="pull-right">
                        <i class="iconfont icon-time"></i>
                        5分钟前
                      </small>
                    </h4>
                    <p class="content">
                      如何设置头部head的meta值
                    </p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer">
              <a href="#" title="查看所有消息">
                查看所有消息
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown notify">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="通知">
            <i class="iconfont icon-bells"></i>
            <span class="badge">7</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">
              您有7个通知
            </li>
            <li class="body">
              <ul class="menu">
                <li>
                  <a class="text-danger" href="#" title="系统发生一个未知错误">
                    <i class="iconfont icon-error pull-left"></i>
                    <p class="content">发生一个系统路径错误</p>
                  </a>
                </li>
                <li>
                  <a class="text-warning" href="#" title="系统发出一个警告">
                    <i class="iconfont icon-alert pull-left"></i>
                    <p class="content">为安全起见,请删除install文件夹</p>
                  </a>
                </li>
                <li>
                  <a class="text-success" href="#" title="修改成功">
                    <i class="iconfont icon-ok pull-left"></i>
                    <p class="content">您更新了个人资料</p>
                  </a>
                </li>
                <li>
                  <a class="text-info" href="#" title="新成员">
                    <i class="iconfont icon-menu-user pull-left"></i>
                    <p class="content">3位新成员</p>
                  </a>
                </li>
                <li>
                  <a class="text-muted" href="#" title="点赞">
                    <i class="iconfont icon-thumbs-up pull-left"></i>
                    <p class="content">5个点赞</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer">
              <a href="#" title="查看所有通知">
                查看所有通知
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown user">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="用户">Alpha</a>
          <ul class="dropdown-menu">
            <li>
              <a data-toggle="modal" data-target=".menu-setpassword" href="#" title="个人信息">
                <i class="iconfont icon-menu-user"></i>
                修改密码
              </a>
            </li>
            <li>
              <a href="#" title="系统设置">
                <i class="iconfont icon-setting"></i>
                系统设置
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a data-toggle="modal" data-target=".menu-logout" href="#" title="登出">
                <i class="iconfont icon-power"></i>
                登出
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
