<aside class="main-sidebar">
  <div class="user-panel">
    <div class="image pull-left">
      <img src="/assets/avatars/avatars.png" alt="">
    </div>
    <div class="info pull-right">
      <p class="title">Alpha</p>
      <strong>超级管理员</strong>
    </div>
  </div>
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="active">
        <a href="{%url 'home' %}" title="仪表盘">
          <i class="iconfont icon-dashborad"></i>
          <small>仪表盘</small>
        </a>
      </li>
      <li class="treeview">
        <a href="#" title="图表">
          <i class="iconfont icon-chart"></i>
          <small>图表</small>
          <span class=" pull-right">
            <i class="iconfont icon-menu-left-small"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/pages/chart/chartjs.html">
              <i class="iconfont icon-circle-hollow"></i>
              <small>Chart.JS</small>
            </a>
          </li>
          <li>
            <a href="/pages/chart/echartjs.html">
              <i class="iconfont icon-circle-hollow"></i>
              <small>EChart.JS</small>
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#" id="tables23">
          <i class="iconfont icon-table"></i>
          <small>表格</small>
          <span class=" pull-right">
            <i class="iconfont icon-menu-left-small"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/pages/table/table.html">
              <i class="iconfont icon-circle-hollow"></i>
              <small>简单表格</small>
            </a>
          </li>
          <li>
            <a href="/pages/table/data.html">
              <i class="iconfont icon-circle-hollow"></i>
              <small>数据表格</small>
            </a>
          </li>
          <li>
            <a href="{%url 'syscall' %}">
              <i class="iconfont icon-circle-hollow"></i>
              <small>系统调用</small>
            </a>
          </li>
          <li>
            <a href="{%url 'proc' %}">
              <i class="iconfont icon-circle-hollow"></i>
              <small>进程信息</small>
            </a>
          </li>
          <li>
            <a href="{%url 'file' %}">
              <i class="iconfont icon-circle-hollow"></i>
              <small>文件信息</small>
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="iconfont icon-folder"></i>
          <small>页面</small>
          <span class=" pull-right">
            <i class="iconfont icon-menu-left-small"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/pages/page/login.html">
              <i class="iconfont icon-circle-hollow"></i>
              <small>登录页面</small>
            </a>
          </li>
          <li>
            <a href="/pages/page/register.html">
              <i class="iconfont icon-circle-hollow"></i>
              <small>注册页面</small>
            </a>
          </li>
          <li>
            <a href="/pages/page/404.html">
              <i class="iconfont icon-circle-hollow"></i>
              <small>404页面</small>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </section>
</aside>
